*{
    margin:0;
    padding:0;
    border:border-box;
}

body{
    background-image:url(arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.avif);
    background-size: cover;
}
.navbar{
    height:80px;
    background-color: whitesmoke;
    display:flex;
    /* align-items: center; */
    justify-content: space-evenly;


}
.logo{
    height:50px;
    width:90px;
    background-image:url(Untitled.jpeg);
    background-size: cover;
    position:absolute;
    left:5px;
    top:10px;
    /* z-index:10; */
    box-shadow: 5px 5px 20px red;
}
.navaddress{
    height:50px;
    width:50px;
    margin-left: 150px;
    margin-top:0px;
    justify-content: space-evenly;
    
}
.searchbox{
    height:60px;
    width:900px;
    position:relative;
    bottom: 5px;
    padding-left: 5px;
    display:flex;
    margin-top:10px;
    margin-left:70px;
    
    
}
.eleutheromaniac{
    width:1000px;
}
.all{
    width:90px;
}
.searchicon{
    margin-top: 20px;
    height:50px;
    width:50px;
}
.signin{
    margin-left: 20px;
    margin-top: 15px;
}
span{
    font-size: 20px;
}
.nav-second{
    font-size: 20px;
    font-weight: 700;
    /* font-family: Arial, Helvetica, sans-serif ; */
}
.navreturns{
    margin-left: 40px;
    margin-top: 15px;
    font-size: 20px;
    
}

.orders{
    font-size: 20px;
    font-weight: 700;
}

.cart{
    display:flex;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 15px;
    font-weight: 700;
}

.nav2{
    height:60px;
    background-color: bisque;
}

.marquee1{
    font-size: 50px;
}

.nav3{
    height:60px;
    background-color: coral;
}
.marquee2{
    font-size: 50px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* IMAGES OF SHOES */
.shoes{
    height:700px;
    display: flex;
    z-index: 2;

}
/* .shoes{
    height:400px;
    display: flex;
    z-index: 2;

} */
.puma1{
    background-image: url(puma1.jpeg);
    height:700px;
    width:600px;
    background-size: cover;
}
.puma2{
    background-image: url(puma2.jpeg);
    height:700px;
    width:800px;
    background-size: cover;
}
.puma3{
    background-image: url(puma3.jpeg);
    height:700px;
    width:700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.shoesdiscount{
    height:50px;
    background-color: azure ;
    font-size: 50px;
    color:black;
    font-weight: 700;
    
}

.dresses{
    height:700px;
    display: flex;
    z-index: 2;

}
.dress1{
    background-image: url(dress1.jpeg);
    height:700px;
    width:700px;
    background-size: cover;

}

.dress2{
    background-image: url(dress4.jpeg);
    height:700px;
    width:700px;
    background-size: cover;

}

.dress3{
    background-image: url(dress3.jpeg);
    height:700px;
    width:700px;
    background-size: cover;
    
}
.dressdiscount{
    height:50px;
    background-color: azure ;
    font-size: 50px;
    color:black;
    font-weight: 700;
    
}

.party{
    height:500px;
    display: flex;
    z-index: 2;

}
.party1{
    background-image: url(party1.jpeg);
    height:500px;
    width:500px;
    background-size: cover;

}

.party2{
    background-image: url(party2.jpeg);
    height:500px;
    width:500px;
    background-size: cover;

}

.party3{
    background-image: url(party4.jpeg);
    height:500px;
    width:500px;
    background-size: cover;
    
}
.party4{
    background-image: url(party5.webp);
    height:500px;
    width:500px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    
}
.partydiscount{
    height:50px;
    background-color: azure ;
    font-size: 50px;
    color:black;
    font-weight: 700;
    
}

.jewels{
    height:500px;
    display: flex;
    z-index: 2;

}
.jewels1{
    background-image: url(jewel1.jpeg);
    height:500px;
    width:500px;
    background-size: cover;

}

.jewels2{
    background-image: url(jewel2.jpeg);
    height:500px;
    width:500px;
    background-size: cover;

}

.jewels3{
    background-image: url(jewel3.jpeg);
    height:500px;
    width:500px;
    background-size: cover;
    
}
.jewels4{
    background-image: url(jewels4.jpeg);
    height:500px;
    width:500px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    
}
.jewelsdiscount{
    height:50px;
    background-color: azure ;
    font-size: 50px;
    color:black;
    font-weight: 700;
    
}

