* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.image {
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    background-image: url(tanisha\ 2024-02-07\ at\ 23.57.54.jpeg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 10px 5px 20px white;
    border: 2px solid black;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.logo {
    height: 25vh;
    width: 25vw;
    background-image: url(Untitled.jpeg);
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 10px 5px 10px white;
    z-index: 20;
}

.submit {
    font-size: 5vh;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    width: 30vw;
    height: 14vh;
    top: 10px;
    right: 10px;
}

.border:hover {
    border: 3px double red;
}